<?xml version="1.0"?>
<restrictionsConfig>
  <rules>
    <rule name="rootSingletonDocument" errorMessage="You can't create more than one instance of this document at the root level">
      <add docTypeAlias="globalConfiguration" />
    </rule>
    <rule name="onlyChildDocument" errorMessage="You can't create more than one instance of this document at that level">
      <add docTypeAlias="landingPage" />
      <add docTypeAlias="announcements" />
    </rule>
    <rule name="leastOnceDocumentRoot" errorMessage="At least one instance of this document must be published at the root level">
      <add docTypeAlias="globalConfiguration" />
    </rule>
    <rule name="unpublishParentWhenNoPublishedChildren" errorMessage="The parent node will also be unpublished because there are no more published child nodes.">
      <add docTypeAlias="landingPage" />
    </rule>
    <rule name="doNotPublishWithoutChildren" errorMessage="Please add sub pages before attempting to publish.">
      <add docTypeAlias="announcements" />
    </rule>
  </rules>
</restrictionsConfig>